<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="from" value=""/>
		<add key ="to" value=""/>
		<add key ="password" value=""/>
		<add key ="smtpclient" value="smtp.gmail.com"/>
		<add key ="smtpport" value="587"/>
		<add key ="ApiKey" value=""/>
		<add key ="ApiLink" value="https://api.twelvedata.com/time_series?interval=1min&amp;type=stock&amp;timezone=America/Sao_Paulo&amp;format=JSON&amp;outputsize=1&amp;" />
	</appSettings>
</configuration>